.idea/
connector/.gradle
connector/.settings
connector/.classpath
connector/.project
connector/build
coverage/
dist/
node_modules/
.DS_Store
# this folder testing-scripts is used to test the behaviour of features while developing
testing-scripts/ 
