name: publish npm

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: "Is this a pre-release?"
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      prerelease:
        description: "Is this a pre-release?"
        required: false
        type: boolean
        default: false

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: "main"

      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            */*/node_modules
          key: yarn-deps-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        shell: bash
        run: yarn

      - name: Transpile to JavaScript
        shell: bash
        run: yarn transpile

      - name: Publish to npm
        shell: bash
        run: |
          if [ "${{ inputs.prerelease }}" == "true" ]; then
            echo "Publishing as beta (pre-release)"
            npm publish --access=public --tag beta
          else
            echo "Publishing as latest (stable release)"
            npm publish --access=public --tag latest
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
